<%- include('includes/head.ejs', { title: '401 Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
      <h1>An error ocurred!</h1>
      <p>You're not authenticated - first login, please!</p>
      <a class="btn" href="/">Back To Safety!</a>
  </main>
  <%- include('includes/footer.ejs') %>
</body>
</html>