<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs', {title: 'Signup'}) %>
    <link href="/styles/form.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('../includes/header.ejs') %>
    </header>
    <main>
        <h1>Create an Account</h1>
        <form action="customer/auth/signup" method="POST">
            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </p>
            <p>
                <label for="confirm-email">Confirm your email</label>
                <input type="email" id="confirm-email" name="confirm-email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" minlength="6" required>
            </p>

            <hr>
            
            <p>
                <label for="full-name">Full Name</label>
                <input type="text" id="full-name" name="full-name" required>
            </p>
            <p>
                <label for="street">Street</label>
                <input type="text" id="street" name="street" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" id="city" name="city" required>
            </p>
            <p>
                <label for="postal-code">Postal Code</label>
                <input type="text" id="postal-code" name="postal-code" minlength="5" maxlength="5" required>
            </p>
            <button class="btn">Confirm</button>    
            <a id="login-instead" href="">Login Instead</a>
        </form>
            

    </main>
    <footer>
        <%- include('../includes/footer.ejs') %>
    </footer>
</body>
</html>