<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'All Products'}) %>
    <link href="/styles/form.css" rel="stylesheet">
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <main>
        <h1>Products Administration</h1>
        <section>
            <h2>Manage Products</h2>
            <a href="/admin/products/new" class="btn">Add New Product</a>
        </section>
        <section>
            <p>List of products...</p>
        </section>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>