<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'Update Product'}) %>
    <link href="/styles/form.css" rel="stylesheet">
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <h1>Update Product</h1>
    <main>
       <%- include('includes/product-form.ejs', 
       {
        submitPath: '/admin/products/'+ product._id,
        product: product,
        imageRequired: false
       }
        ) 
       %>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>