<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../../shared/includes/header.ejs') %>
    </header>
    <main>
        <header>
            <img src="" alt="">
            <div>
                <h2>product name</h2>
                <price>44.6€</price>
                <button>Add to Cart</button>
            </div>
        </header>
        <p>summary</p>
        <p>descrizione</p>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>
