<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../../shared/includes/header.ejs') %>
    </header>
    <main>
        <header>
            
        </header>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>
