<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'Admin Orders'}) %>
    <link href="/styles/order.css" rel="stylesheet">
    <script src="/scripts/manage-orders.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <main id="product-item-main">
        <h1>Orders Administration</h1>
            <ul class="all-products-list">
                <% for (const order of orders) { %>
                    <%- include('../../shared/includes/order-item.ejs', {order: order}) %>
                <% } %>
            </ul>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>