#cart-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-4);
    background-color: var(--color-gray-700);
    border-radius: var(--border-radius-medium);
    margin: var(--space-4) auto;
}

#cart-item h2 {
    font-size: 1.25rem;
    color: var(--color-gray-100);
    margin-top: 0;
}

#cart-item input{
    padding: var(--space-2);
    border-radius: 8px;
}

#cart-item-info {

}

@media (min-width: 48rem) {
    #cart-item {
        width:80%;
        flex-flow: row;
        justify-content: space-between;
    }
}