#cart-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-4);
    background-color: var(--color-gray-700);
    border-radius: var(--border-radius-medium);
    margin: var(--space-4) auto;
}

@media (min-width: 48rem) {
    #cart-item {
        flex-flow: row;
    }
}