form{
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: var(--space-4) auto;
    border: 1px solid var(--color-primary-50);
    align-items: center;
    border-radius: var(--border-radius-big);
}

