header {
    background-color: var(--color-gray-400);
}

nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-2) var(--space-6);
}

header form {
    margin: 0;
    padding: var(--space-2);
}

header ul{
    width: 8rem ;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    padding: 0;
    margin: 0;
}

header a{
    font-size: var(--space-6);
}

header a:hover,
header a:active{
    color: var(--color-primary-700);
}    

.header-logout-btn{
    color: var(--color-primary-400);
    background-color: transparent;
    border-color: transparent;
    font-size: var(--space-4);
    padding: 0;
    border: none;
    font-size: var(--space-6);
}   

#logo{
    font-family: 'Barriecito', cursive;
    font-size: var(--space-8);
    color: var(--color-primary-700);
    padding: 0;
    margin: 0;
    
}

.header-logout-btn:hover,
.header-logout-btn:active{
    background-color:transparent;
    border-color: transparent;
    box-shadow: none;
    color: var(--color-primary-700);
    font-weight: 300;
}