#all-products-list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#order-item{
    padding: var(--space-2);
    border-radius: var(--border-radius-medium);
}


@media(min-width: 48rem) {
    
}