#all-products-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.order-item {
    background-color: var(--color-gray-400);
    border-radius: var(--border-radius-small);
    padding: var(--space-4);
    margin: var(--space-4) 0;
}

.order-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: var(--space-2);
}


@media(min-width: 48rem) {}