/*product detail*/
#product-detail-header{
display: flex;
flex-flow: column ;
margin-top: 6rem;
position: relative;
}

@media(min-width: 48rem) {
    #product-detail-article{
        display: flex;
        flex-flow: column;
    }

    #product-detail-header{
    margin: var(--space-6) auto 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 20rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--color-gray-700);
    padding: 0;
    overflow: hidden;
}

#product-detail-header img {
    height: 100%;
    width: 15rem;
    object-fit: cover;
}

#product-detail-header div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%
}

#product-detail-main hr{
    padding: 0;
    margin: 0;
}

#product-detail-content{
    background-color: var(--color-gray-400);
    padding: var(--space-2);
    
}

}