/*product detail*/

#product-details header {
    margin-top: var(--space-8);
    padding: var(--space-8);
    background-color: var(--color-gray-600);
    gap: var(--space-8);
  }
  
  #product-details img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-gray-100);
  }
  
  #product-info {
    text-align: center;
  }
  
  #product-description {
    background-color: var(--color-primary-500-bg);
    padding: var(--space-8);
    white-space: pre-wrap;
  }

@media(min-width: 48rem) {
    #product-detail-article{
        display: flex;
        flex-flow: column;
    }

    #product-detail-header{
    margin: var(--space-6) auto 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 20rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--color-gray-700);
    padding: 0;
    overflow: hidden;
}

#product-detail-header img {
    height: 100%;
    width: 15rem;
    object-fit: cover;
}

#product-detail-header div {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%
}

#product-detail-main hr{
    padding: 0;
    margin: 0;
}

#product-detail-content{
    background-color: var(--color-gray-400);
    padding: var(--space-2);
    
}

}