#all-products-list li {
    width: 60%;
    margin: 0rem auto;
    background-color: var(--color-gray-300);
    border-radius: var(--border-radius-medium);
    box-shadow: 2px 2px 4px var(--color-gray-700);
    overflow: hidden;
}

#product-item h2 {
    color: var(--color-gray-50);
    font-size: 1.25rem;
}

#product-item img{
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

#product-item-content{
    padding: var(--space-4);
}