#product-item-main hr {
    border-color: var(--color-primary-700);
    margin: var(--space-8) 0rem;
}

/*ul*/
.all-products-list {
    padding: var(--space-2);
    display: grid;
    /*  repeat    = metodo che ripete lo stesso setting per più colonne
        auto-fill = il numero di colonne generato viene deciso automaticamente e dinamicamente dal browser in base allo spazio (larghezza)
                    disponibile sullo schermo
        minmax(15rem, 1fr) = metodo per stabilire la dimensione di una colonna
                                - 15rem => min width
                                - 1fr => max width. 
                                         1fr vuol dire che il browser può dividere lo spazio disponibile sullo schermo nel massimo numero
                                         di colonne di uguale dimensione tra loro  
                    */
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--space-4);
}

.all-products-list li {
    width: 100%;
    margin: 0rem auto;
    background-color: var(--color-gray-300);
    border-radius: var(--border-radius-medium);
    box-shadow: 2px 2px 4px var(--color-gray-700);
    overflow: hidden;
}

#product-item h2 {
    color: var(--color-gray-50);
    font-size: 1.25rem;
    margin-top: 0;
}

#product-item img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    object-position: 30%;
}

#product-item-content {
    padding: var(--space-4);
}

#product-item-action {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#product-item-action .btn {
    margin: var(--space-1);
}

/*product detail*/

#product-detail-article{
    margin-top: var(--space-8);
    padding: var(--space-8);
}

#product-detail-main header {
    background-color: var(--color-gray-600);
    position: static;
    width: 100%;
    height: 26rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    overflow: hidden;
}

#product-detail-main img {

    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border: 1px solid var(--color-gray-100);
}

#product-detail-main div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#product-detail-main h2 {
    margin: var(--space-4) auto var(--space-2) auto;
}

#product-detail-main price{
    margin: var(--space-2) auto;
}

#product-detail-main button{
    margin-bottom: var(--space-2);
}
#product-detail-main hr {
    padding: 0;
    margin: 0;
}

#product-detail-content {
    background-color: var(--color-gray-400);
    padding: var(--space-2);
}

#product-description {
    padding: var(--space-2);
    white-space: pre-wrap;
    margin-top: 0;
}

@media(min-width: 48rem) {
    #product-detail-article {
        flex-flow: column;
        padding: 0;
        margin: var(--space-6) auto 0 auto;
        width: 80%;
    }

    #product-detail-main header {
        flex-flow: row;
        justify-content: space-between;
        height: 20rem;    
    }

    #product-detail-main header img {
        height: 100%;
        width: 15rem;
        border-top-right-radius:0px;
    }

    #product-detail-main div {
        justify-content: space-around;
        height: 100%
    }

}