<header>
    <nav id="main-nav">
        <%- include('./nav.ejs') %>
    </nav>
    <button id="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside>
    <nav id="mobile-nav">
        <%- include('./nav.ejs') %>
    </nav>
</aside>

