<header>
    <nav>
        <%- include('./nav.ejs') %>
    </nav>
    <button id="hamburger-icon">
        <span>-</span>
        <span>-</span>
        <span>-</span>
    </button>
    <aside>
        <nav>
            <%- include('./nav.ejs') %>
        </nav>
    </aside>


</header>