<li>
    <article>
        <header id="order-header">
            <h2><span><%= order.productData.cartTotalPrice %></span><span></span></h2>
        </header>
        <section id="order-details">

        </section>
    </article>
</li>