<li id="order-item">
    <article>
        <header id="order-header">
            <h2><span><%= order.productData.cartTotalPrice.toFixed(2) %></span>€ - <span> <%= order.formattedDate %></span></h2>
            <p><span class="badge"><%= order.status.toUpperCase() %></span></p>
        </header>
        <section id="order-details">

        </section>
    </article>
</li>