<%- include('../../shared/includes/head.ejs', { title: 'Cart' }) %>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
      Cart
  </main>
  <%- include('../../shared/includes/footer.ejs') %>
</body>
</html>