<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'All Products'}) %>
    <!-- <link href="/styles/form.css" rel="stylesheet"> -->
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <h1>All Products</h1>
    <main>
        <p>List of products...</p>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>