<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'Checkout Cancelled!'}) %>
    <link href="/styles/order.css" rel="stylesheet">
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <main id="product-item-main">
        <h1>Checkout Cancelled!</h1>
        <section>
            <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
        </section>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>