<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'Your Orders'}) %>
    <link href="/styles/products.css" rel="stylesheet">
    <script src="/scripts/delete-product.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <main id="product-item-main">
        <h1>Your Orders</h1>
        
            <ul class="all-products-list">
                <%- include('../../shared/includes/order-item.ejs') %>
            </ul>
        
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>