<li>
    <article>
        <h2><%= item.product.title %></h2>
        <price><%= item.itemTotalPrice.toFixed(2)%>€ (Pz. <%= item.product.price.toFixed(2) %>€)</price>
        <price></price>
    </article>
</li>